<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.UserMapper">
    <select id="selectAccordWith" resultType="com.example.demo.pojo.Users">
        select u.User_id,u.username,u.Contact_Phonenumber,u.Address,u.Gender,u.Last_Modified_Time
        from users u
        <where>
        <if test="username!=null">
            and username like concat('%',#{username},'%')
        </if>
        <if test="gender!=null">
            and Gender= #{gender}
        </if>
        </where>
    </select>




</mapper>



